<div class="flex flex-col h-screen">
  <mat-card class="m-4">
    <mat-card-header class="m-2">
      <mat-card-title>{{ name || "New LDAP Client" }}</mat-card-title>
    </mat-card-header>
    <mat-card-content class="flex flex-col">
      <form [formGroup]="ldapClientForm">
        <mat-form-field class="w-full">
          <input matInput placeholder="LDAP Client Provider" formControlName="name" required>
        </mat-form-field>
        <mat-form-field class="w-full">
          <input matInput placeholder="Description" formControlName="description">
        </mat-form-field>
        <mat-form-field class="w-full">
          <input matInput placeholder="URL" formControlName="url">
        </mat-form-field>
        <mat-form-field class="w-full">
          <input matInput placeholder="Admin DN" formControlName="adminDn">
        </mat-form-field>
        <mat-form-field class="w-full">
          <input matInput placeholder="Admin Password" formControlName="adminPassword"
            [type]="hideAdminPassword ? 'password' : 'text'">
          <mat-icon matSuffix (click)="hideAdminPassword = !hideAdminPassword">{{hideAdminPassword ? 'visibility_off' :
            'visibility'}}</mat-icon>
        </mat-form-field>
        <mat-form-field class="w-full">
          <input matInput placeholder="User Search Base" formControlName="userSearchBase" required>
        </mat-form-field>
        <mat-form-field class="w-full">
          <input matInput placeholder="Username Attribute" formControlName="usernameAttribute" required>
        </mat-form-field>
        <mat-form-field class="w-full">
          <input matInput placeholder="Email Attribute" formControlName="emailAttribute">
        </mat-form-field>
        <mat-form-field class="w-full">
          <input matInput placeholder="Phone Attribute" formControlName="phoneAttribute">
        </mat-form-field>
        <mat-form-field class="w-full">
          <input matInput placeholder="Full Name Attribute" formControlName="fullNameAttribute" required>
        </mat-form-field>
        <mat-form-field class="w-full">
          <mat-select placeholder="Client ID" formControlName="clientId">
            <mat-option *ngFor="let client of clientList" [value]="client.clientId">
              {{ client.name + " (" + client.clientId + ")"}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="w-full">
          <mat-select placeholder="Scope" formControlName="scope">
            <mat-option *ngFor="let scope of scopeList" [value]="scope.name">
              {{ scope.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <div *ngFor="let scp of ldapClientForm.get('attributes')['controls']; let i = index;" formArrayName="attributes">
          <div [formGroupName]="i">
            <mat-form-field class="w-1/2">
              <input matInput formControlName="attribute" placeholder="Attribute {{i+1}}">
              <button mat-icon-button color="accent" matSuffix (click)="removeAttribute(i)">
                <mat-icon>close</mat-icon>
              </button>
            </mat-form-field>
          </div>
        </div>
        <button mat-button color="accent" (click)="addAttribute()">
          Add Attribute<mat-icon>add</mat-icon>
        </button>
      </form>
    </mat-card-content>
    <mat-card-actions class="m-4 flex flex-row gap-2">
      <button (click)="createLDAPClient()" mat-flat-button color="primary" [disabled]="!ldapClientForm.valid"
        *ngIf="!uuid">Create</button>
      <button (click)="updateLDAPClient()" mat-flat-button color="primary" [disabled]="!ldapClientForm.valid"
        *ngIf="uuid">Update</button>
      <button (click)="delete()" mat-flat-button color="warn" *ngIf="uuid && uuid !== new">Delete</button>
    </mat-card-actions>
  </mat-card>
</div>