<div class="flex flex-col h-screen">
  <mat-card class="m-4">
    <mat-card-header class="m-2">
      <mat-card-title>{{ name || "New OAuth 2.0 Provider" }}</mat-card-title>
    </mat-card-header>
    <mat-card-content class="flex flex-col">
      <form [formGroup]="providerForm">
        <mat-form-field class="w-full">
          <input matInput placeholder="Name" formControlName="name" mat-raised-button required>
        </mat-form-field>
        <mat-form-field class="w-full">
          <input matInput placeholder="Authorization Server URL" formControlName="authServerURL" mat-raised-button
            required>
        </mat-form-field>
        <mat-form-field class="w-full">
          <input matInput placeholder="Client ID" formControlName="clientId" mat-raised-button required>
        </mat-form-field>
        <mat-form-field class="w-full">
          <input [type]="hideClientSecret ? 'password' : 'text'" matInput placeholder="Client Secret"
            formControlName="clientSecret" mat-raised-button required>
          <mat-icon matSuffix (click)="hideClientSecret = !hideClientSecret">
            {{hideClientSecret ? 'visibility' : 'visibility_off'}}
          </mat-icon>
        </mat-form-field>
        <mat-form-field class="w-full" *ngIf="uuid !== 'new'">
          <input matInput readonly placeholder="Redirect URI" formControlName="redirectURI" mat-raised-button>
        </mat-form-field>
        <mat-form-field class="w-full">
          <input matInput placeholder="Profile URL" formControlName="profileURL" mat-raised-button>
        </mat-form-field>
        <mat-form-field class="w-full">
          <input matInput placeholder="Token Endpoint" formControlName="tokenURL" mat-raised-button required>
        </mat-form-field>
        <mat-form-field class="w-full">
          <input matInput placeholder="Introspection Endpoint" formControlName="introspectionURL" mat-raised-button>
        </mat-form-field>
        <mat-form-field class="w-full">
          <input matInput placeholder="Authorization Endpoint" formControlName="authorizationURL" mat-raised-button
            required>
        </mat-form-field>
        <mat-form-field class="w-full">
          <input matInput placeholder="Revocation Endpoint" formControlName="revocationURL" mat-raised-button required>
        </mat-form-field>
        <div *ngFor="let scp of providerForm.get('scope')['controls']; let i = index;" formArrayName="scope">
          <div [formGroupName]="i">
            <mat-form-field class="w-1/2">
              <input matInput formControlName="scope" placeholder="Scope {{i+1}}">
              <button mat-icon-button color="accent" matSuffix (click)="removeScope(i)">
                <mat-icon>close</mat-icon>
              </button>
            </mat-form-field>
          </div>
        </div>
        <button mat-button color="accent" (click)="addScope()">
          Add Scope <mat-icon>add</mat-icon>
        </button>
      </form>
    </mat-card-content>
    <mat-card-actions class="m-4 flex flex-row gap-2">
      <button (click)="updateProvider()" mat-flat-button color="primary" [disabled]="!providerForm.valid"
        *ngIf="name">Update</button>
      <button (click)="createProvider()" mat-flat-button color="primary" [disabled]="!providerForm.valid"
        *ngIf="!name">Create</button>
      <button (click)="delete()" mat-flat-button color="warn" *ngIf="uuid !== new">Delete</button>
      <!-- <button
          (click)="connectAccount()"
          mat-flat-button color="accent"
          [disabled]="!providerForm.valid"
          *ngIf="name">Connect</button> -->
    </mat-card-actions>
  </mat-card>
</div>
