<div class="flex flex-col h-screen">
  <mat-card class="m-4">
    <mat-card-header class="m-2">
      <mat-card-title>{{ name || "New Kerberos Realm" }}</mat-card-title>
    </mat-card-header>
    <mat-card-content class="flex flex-col">
      <form [formGroup]="kerberosRealmForm">
        <mat-form-field class="w-full">
          <input matInput placeholder="Kerberos Provider" formControlName="name" required>
        </mat-form-field>
        <mat-form-field class="w-full">
          <input matInput placeholder="Description" formControlName="description">
        </mat-form-field>
        <mat-form-field class="w-full">
          <input matInput placeholder="Domain" formControlName="domain">
        </mat-form-field>
        <mat-form-field class="w-full">
          <input matInput placeholder="Service Principal Name" formControlName="servicePrincipalName">
        </mat-form-field>
        <mat-form-field class="w-full">
          <mat-select placeholder="LDAP Client" formControlName="ldapClient" required>
            <mat-option *ngFor="let client of clientList" [value]="client.uuid">
              {{ client.name + " (" + client.uuid + ")"}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </form>
    </mat-card-content>
    <mat-card-actions class="m-4 flex flex-row gap-2">
      <button (click)="createRealm()" mat-flat-button color="primary" [disabled]="!kerberosRealmForm.valid"
        *ngIf="!uuid">Create</button>
      <button (click)="updateRealm()" mat-flat-button color="primary" [disabled]="!kerberosRealmForm.valid"
        *ngIf="uuid">Update</button>
      <button (click)="delete()" mat-flat-button color="warn" *ngIf="uuid && uuid !== new">Delete</button>
    </mat-card-actions>
  </mat-card>
</div>